/* footer */
.index-footer{
    width:100%;
    min-width: 1000px;
    margin-top: 100px;
    padding-top:60px;
    padding-bottom:30px;
    background-color:#434343 ;
}
.serviceBox{
    margin: 0px auto;
    width:600px;
    height:200px;
}
.service{
    margin-left: 90px;
}
.service:first-child{
    margin-left: 0px;
}
.service ul p{
    font-size: 16px;
    color: #cccccc;
}
.service ul li{
    margin-top: 20px;
    margin-left: 5px;
}
.service ul li a{
    font-size: 12px;
    color:#cccccc;
}
.declare{
    width:380px;
    height:15px;
    margin:40px auto;
    margin-bottom: 0px;
}
.declare ul li{
    display: inline-block;
}
.declare ul li a{
    font-size: 12px;
    color:#cccccc;
}